<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Rails Project</h1>
    <div>
      <%= link_to "Home", root_path %>                                        | 
      <%= link_to "Magic", :controller => :magic, :action => :index %>        | 
      <%= link_to "Products", :controller => :products, :action => :index %>  | 
      <%= link_to "About", :controller => :pages, :action => :about %>
    </div>
    <%= yield %>
  </body>
</html>
